/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap');


body {
  font-family: 'Roboto', sans-serif;
}

.section {
  @apply py-8 px-6;

  .section-title {
    @apply font-black text-3xl;
    color: rgba(255, 140, 21, 0.5);
  }

  @include mq($from: tablet) { 
    @apply py-16 px-16;

    .section-title {
      @apply text-6xl;
    }
  }
}

.paragraph {
  @apply mt-6;
  max-width: 75ch;
  color: #6B7280;
  @include mq($from: tablet) {
    @apply mt-8 font-normal text-lg;
  }

}

.button {
  @apply bg-gray-800 px-4 py-2 text-gray-50;
}